    </div>
    <!-- VENDOR SCRIPTS -->
    <script src="{site_url}js/app/vendor/jquery-2.1.1.min.js"></script> 
    <script src="{site_url}js/app/vendor/TweenMax.min.js"></script>
    <script src="{site_url}js/app/vendor/ScrollToPlugin.min.js"></script>
    <script src="{site_url}js/app/vendor/jquery.scrollmagic.min.js"></script>
    <script src="{site_url}js/app/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="{site_url}js/app/vendor/isotope.pkgd.min.js"></script>
    <!-- 
    <script src="{site_url}js/app/vendor/jquery.scrollmagic.debug.js"></script>
    -->
    <!-- DEVELOPMENT & PRODUCTION SCRIPTS
        *Compress scripts on production
    -->
    <script src="{site_url}js/app/lib/layout-control.js"></script>
    <script src="{site_url}js/app/lib/scroll-control.js"></script>
    <script src="{site_url}js/app/lib/videojs.js"></script>
    <script src="{site_url}js/app/lib/isotope.js"></script>
    <!-- 
    <script src="{site_url}js/app/vendor/jquery.min.js"></script>
    <script src="{site_url}js/app/vendor/wurfl.js"></script>
    <script src="{site_url}js/app/vendor/velocity.min.js"></script>
    -->
    <!-- 
    <script src="{site_url}js/app/vendor/jquery.videoBG.js"></script>
     -->
    <!-- // <script src="{site_url}js/app/vendor/headroom.min.js"></script> -->
    <!-- // <script src="{site_url}js/app/vendor/jQuery.headroom.min.js"></script> -->
    <!-- 
    <script src="{site_url}js/app/vendor/bowser.min.js"></script>
    <script src="{site_url}js/app/vendor/jquery.videocover.js"></script>
    <script src="{site_url}js/app/lib/videoBG.js"></script>
    <script src="{site_url}js/app/lib/smooth-scroll.js"></script>
    <script src="{site_url}js/app/lib/layout.js"></script>
    -->
  </body>
</html>