  <script src="{site_url}app/assets/js/jquery.min.js"></script> <!-- App scripts -->
  {if segment_1==''}
  <script src="{site_url}app/assets/js/jquery.onepage-scroll.js"></script>
  <script src="{site_url}app/assets/js/onepage-scroll-control.js"></script>
  {if:elseif segment_1=='projects' AND segment_2!='project-show'}
  <script src="{site_url}app/assets/js/jquery.onepage-scroll.js"></script>
  <script src="{site_url}app/assets/js/onepage-scroll-control.js"></script>
  {/if}
  <script src="{site_url}app/assets/js/scripts.min.js"></script>
</html>