      <div class="header pv-14">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-3">
              {if segment_1==''}
              <a href="{site_url}#fold" class="logo to-top">
              {if:else}
              <a href="{site_url}" class="logo">
              {/if}
                <!-- <img src="assets/img/logo_lavictorialabs-pink-white.png" alt=""> -->
              </a>
            </div>
            <div class="col-xs-9 pt-28">
              <nav>
                {if segment_1=='projects'}
                  <span><a href="{site_url}projects" class="hover-success active">Work</a></span>
                {if:else}
                  <span><a href="{site_url}projects" class="hover-success">Work</a></span>
                {/if}
                {if segment_1=='aboutus'}
                  <span><a href="{site_url}aboutus" class="hover-info active">US</a></span>
                  <span class="header-scroll"><a href="#video-wrapper-team" class="hidden"></a></span>
                {if:else}
                  <span><a href="{site_url}aboutus" class="hover-info">US</a></span>
                {/if}
                <span class="header-scroll"><a href="#main" id="header-off" class="hidden"> HEader</a></span>
              </nav>
            </div>
          </div>
        </div>
      </div>