<!--       <div class="header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-3">
              {if segment_1==''}
              <a href="{site_url}#fold" class="logo to-top">
              {if:else}
              <a href="{site_url}" class="logo">
              {/if}
              </a>
            </div>
            <div class="col-xs-9 pt-28">
              <nav>
                {if segment_1=='projects'}
                  <span><a href="{site_url}projects" class="hover-success active">Work</a></span>
                {if:else}
                  <span><a href="{site_url}projects" class="hover-success">Work</a></span>
                {/if}
                {if segment_1=='aboutus'}
                  <span><a href="{site_url}aboutus" class="hover-info active">US</a></span>
                  <span class="header-scroll"><a href="#video-wrapper-team" class="hidden"></a></span>
                {if:else}
                  <span><a href="{site_url}aboutus" class="hover-info">US</a></span>
                {/if}
                <span class="header-scroll"><a href="#main" id="header-off" class="hidden"> HEader</a></span>
              </nav>
            </div>
          </div>
        </div>
      </div> -->
<div class="header">
  <div class="container-fluid">
    <div class="nav-bar">
      <div class="left">
        {if segment_1==''}
        <a class="logo to-top"></a>
        {if:else}
        <a href="{site_url}" class="logo"></a>
        {/if}
      </div>
      <div class="right pt-28">
        <ul class="nav-items">
          <li class="us">
            {if segment_1=='aboutus'}
            <a href="{site_url}aboutus" class="active">
              Us
              <span></span>
            </a>
            <span class="header-scroll"><a href="#video-wrapper-team" class="hidden"></a></span>
            {if:else}
            <a href="{site_url}aboutus">
              Us
              <span></span>
            </a>
            {/if}
          </li>
          <li class="work">
            {if segment_1=='projects'}
            <a href="{site_url}projects" class="active">
              Work
              <span></span>
            </a>
            {if:else}
            <a href="{site_url}projects">
              Work
              <span></span>
            </a>
            {/if}
            <span class="header-scroll"><a href="#main" id="header-off" class="hidden"> HEader</a></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>