<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <nav class="text-danger {if segment_1!=''}text-global-color{/if}">
          <a href="#"><i class="flaticon-packet"></i></a>
          <a href="#"><i class="flaticon-twitter42"></i></a>
          <a href="#"><i class="flaticon-youtube34"></i></a>
          <a href="#"><i class="flaticon-instagram15"></i></a>
        </nav>
      </div>
      <div class="col-sm-6">
        <ul class="footer-nav">
          <li>
            <a href="#" class="light dropdown-toggle">EN</a>
            <ul class="dropdown language-dropdown hidden">
              <li><a href="#">ES</a></li>
            </ul>
          </li>                  
          <li>
            <a href="{site_url}blog" class="medium">Blog</a>
          </li>
          <li>
            <a href="{site_url}contact" class="medium">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>