// Min-Heights
@for $i from 1 through 10 {
  .mh-#{($i*$times)*10} {
    min-height: (($i*$times)*10) + px !important;
    @if $px-to-rems == true {
      min-height: rem(($i*$times)*10)!important;
    }
  }
}

// Min-Heights
@media #{$md-up} {
  @for $i from 1 through 10 {
    .mhp-#{$i*10} {
      min-height: percentage($i*0.1) !important;
    }
  }
}

@media #{$md-down} {
  @for $i from 1 through 10 {
    .mhp-#{$i*10} {
      padding-top: $grid-gutter-width !important;
      padding-bottom: $grid-gutter-width !important;
    }
  }
}

.vh-100 {
  height: 100vh;
}