{embed="includes/header"}
{embed="includes/head"}
{embed="includes/menu"}
      <div class="site-content no-video" id="main">
        <div class="mhp-100 bg-gradient-feo flex flex-center flex-column flex-middle text-center">
          <div class="container-sm text-white">
            <h1 class="lead normalize-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
          </div>
          <div class="container text-white">
            <h3 class="mb-21">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ipsa porro quae, laudantium, eos repellat at molestias consequatur.</h3>
            <a href="#" class="more">Learn more</a><span> &#8594;</span>
          </div>
          <div class="scroll-down smooth-scroll text-global-color">
            <a href="#sec-1">&#8595;</a>
          </div>
        </div>
        <div class="mhp-100 bg-gray-lighter">
          <div class="container pt-21">
            <ul class="grid-list grid-list-2 grid-list-anchors isotope-container">
              <li class="post-item post-item-img">
                <a href="{site_url}blog/post">
                  <div class="pic">
                    <div class="overlay overlay-work"></div>
                    <img src="assets/img/bg-personales-2.jpg" alt="">
                    <div class="info"></div>
                  </div>
                  <div class="body">
                    <div class="info">
                      <span class="type">WORK</span>
                    </div>
                    <div class="title">
                      <h1 class="text-color-work">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
                    </div>
                    <div class="excerpt">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic omnis alias quidem ipsa pariatur explicabo nemo reiciendis illum unde, et eum neque veritatis eligendi adipisci est, deleniti at repudiandae odit.</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="post-item post-item-img">
                <a href="{site_url}blog/post">
                  <div class="pic">
                    <div class="overlay overlay-blog"></div>
                    <img src="assets/img/bg-personales-3.jpg" alt="">
                    <div class="info"></div>
                  </div>
                  <div class="body">
                    <div class="info">
                      <span class="type">BLOG</span> <span class="date">September 9, 2014</span>
                    </div>
                    <div class="title">
                      <h1 class="text-warning">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
                    </div>
                    <div class="excerpt">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic omnis alias quidem ipsa pariatur explicabo nemo reiciendis illum unde, et eum neque veritatis eligendi adipisci est, deleniti at repudiandae odit.</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="post-item post-item-link">
                <a href="{site_url}blog/post">
                  <div class="body bg-warning">
                    <div class="info">
                      <span class="type">LINK</span> <span class="date">September 9, 2014</span>
                    </div>
                    <div class="title">
                      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
                    </div>
                  </div>
                </a>
              </li>
              <li class="post-item post-item-img">
                <a href="{site_url}blog/post">
                  <div class="pic">
                    <div class="overlay overlay-blog"></div>
                    <img src="assets/img/bg-personales-5.jpg" alt="">
                    <div class="info"></div>
                  </div>
                  <div class="body">
                    <div class="info">
                      <span class="type">BLOG</span> <span class="date">September 9, 2014</span>
                    </div>
                    <div class="title">
                      <h1 class="text-warning">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
                    </div>
                    <div class="excerpt">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic omnis alias quidem ipsa pariatur explicabo nemo reiciendis illum unde, et eum neque veritatis eligendi adipisci est, deleniti at repudiandae odit.</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="post-item post-item-instagram">
                <a href="{site_url}blog/post">
                  <div class="pic">
                    <div class="overlay overlay-blog"></div>
                    <img src="assets/img/bg-personales-8.jpg" alt="">
                    <div class="info">
                      <i class="flaticon-instagram15"></i> <span class="date">September 9, 2014</span>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        {embed="includes/pie-de-pagina"}
      </div>
{embed="includes/footer"}      