{embed="includes/header"}
{embed="includes/head"}
      <div class="site-content no-video" id="main">
        <div class="mhp-50 no-bg-1"></div>
        <div class="mhp-100 pv-42 bg-gray-lighter">
          <div class="container-sm relative">
            <div class="back-arrow text-global-color">
              <a href="{site_url}blog">&#8592;</a>
            </div>
            <h1 class="text-global-color underline">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
            <ul class="grid-list grid-list-4 text-gray-dark pl-ch-0 pr-ch-0">
              <li>
                <h5 class="uppercase medium">Author</h5>
                <a href="#" class="underline">Author Name</a>
              </li>
              <li>
                <h5 class="uppercase medium">DATE</h5>
                <span>May-July 2014</span>
              </li>
              <li>
                <h5 class="uppercase medium">Tags</h5>
                <a href="#" class="underline">NGR</a> <a href="#" class="underline">La Victoria Labs</a>
              </li>
              <li>
                <h5 class="uppercase medium">Share</h5>
                <nav class="text-global-color h4">
                  <a href="#"><i class="flaticon-packet"></i></a>
                  <a href="#"><i class="flaticon-twitter42"></i></a>
                  <a href="#"><i class="flaticon-facebook48"></i></a>
                </nav>
              </li>
            </ul>
            <div class="pt-ch-35 normalize-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis accusamus fugiat itaque. Minima, quod, officiis. Alias quae iste ipsam non ea, dolore laborum asperiores omnis numquam praesentium corporis? Voluptates, ea! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, quod assumenda reiciendis maiores blanditiis a aliquam quasi fugiat. Adipisci quasi voluptatum, quisquam debitis vel, ab perspiciatis obcaecati? Laborum, voluptatibus accusamus.</p>
            </div>
          </div>
          <div class="container pt-42">
            <img src="{site_url}assets/img/project-bg-1.jpg" alt="" class="img-responsive">
          </div>
          <div class="container-sm pt-21">
            <div class="row small">
              <div class="col-sm-6">
                <small><strong>Lorem ipsum dolor sit amet, consectetur</strong>. Reiciendis accusamus fugiat itaque. Minima, quod, officiis. Alias quae iste ipsam non ea, dolore laborum asperiores omnis numquam praesentium corporis? Voluptates, ea! Lorem ipsum dolor sit amet.</small>
              </div>
              <div class="col-sm-6">
                <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis accusamus fugiat itaque. Minima, quod, officiis. Alias quae iste ipsam non ea, dolore laborum asperiores omnis numquam praesentium corporis?</small>
              </div>
            </div>
            <div class="pt-ch-35 normalize-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis accusamus fugiat itaque. Minima, quod, officiis. Alias quae iste ipsam non ea, dolore laborum asperiores omnis numquam praesentium corporis? Voluptates, ea! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, quod assumenda reiciendis maiores blanditiis a aliquam quasi fugiat. Adipisci quasi voluptatum, quisquam debitis vel, ab perspiciatis obcaecati? Laborum, voluptatibus accusamus.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis accusamus fugiat itaque. Minima, quod, officiis. Alias quae iste ipsam non ea, dolore laborum asperiores omnis numquam praesentium corporis? Voluptates, ea! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, quod assumenda reiciendis maiores blanditiis a aliquam quasi fugiat. Adipisci quasi voluptatum, quisquam debitis vel, ab perspiciatis obcaecati? Laborum, voluptatibus accusamus.</p>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <hr class="hr-gray-light">
            </div>
            <ul class="grid-list grid-list-2 grid-list-anchors isotope-container match-margin">
              <li class="post-item post-item-img">
                <a href="#">
                  <div class="pic">
                    <div class="overlay overlay-blog"></div>
                    <img src="{site_url}assets/img/bg-personales-3.jpg" alt="">
                    <div class="info"></div>
                  </div>
                  <div class="body">
                    <div class="info">
                      <span class="type">BLOG</span> <span class="date">September 9, 2014</span>
                    </div>
                    <div class="title">
                      <h1 class="text-warning">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
                    </div>
                    <div class="excerpt">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic omnis alias quidem ipsa pariatur explicabo nemo reiciendis illum unde, et eum neque veritatis eligendi adipisci est, deleniti at repudiandae odit.</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="post-item post-item-img">
                <a href="#">
                  <div class="pic">
                    <div class="overlay overlay-blog"></div>
                    <img src="{site_url}assets/img/bg-personales-5.jpg" alt="">
                    <div class="info"></div>
                  </div>
                  <div class="body">
                    <div class="info">
                      <span class="type">BLOG</span> <span class="date">September 9, 2014</span>
                    </div>
                    <div class="title">
                      <h1 class="text-warning">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
                    </div>
                    <div class="excerpt">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic omnis alias quidem ipsa pariatur explicabo nemo reiciendis illum unde, et eum neque veritatis eligendi adipisci est, deleniti at repudiandae odit.</p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        {embed="includes/pie-de-pagina"}
      </div>
{embed="includes/footer"}      