{embed="includes/header"}
{embed="includes/head"}
{embed="includes/menu"}
      <div class="video-wrapper-fold bg-gray-lighter mhp-100" id="video-wrapper-fold">
        <video 
          id="fold_video"
          class="video-js vjs-default-skin videocover"
          controls preload="auto" width="100%" height="100%"
          data-setup='{}'
          poster="">
          <source src="{site_url}assets/video/lab-construction.mp4" type='video/mp4' />
          <source src="{site_url}assets/video/lab-construction.webm" type='video/webm' />
          <source src="{site_url}assets/video/lab-construction.ogg" type='video/ogg' />
          <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
        <div class="overlay text-center" style="background: url({site_url}assets/img/bg-project-1.jpg) no-repeat center top;">
          <div class="container-sm text-white overlay-trigger overlay-us relative">
            <div class="on-scroll p-0" style="position: absolute; width: 100%;">
              <h1 class="mb-14 lead mt-0">Improving the lives of Peruvian people through human centered innovation.</h1>
              <a href="#" class="h2 lead play-video"><i class="flaticon-key9"></i></a>
            </div>
          </div>
          <div class="scroll-down smooth-scroll text-danger">
            <a href="#main">&#8595;</a>
          </div>
        </div>
      </div>
      <div class="site-content" id="main">
        <div class="bg-gray-lighter ptp-7">
          <div class="container pv-35">
            <h1 class="underline text-global-color">Our Process</h1>
            <div class="row pv-21">
              <div class="col-sm-8">
                <p class="text-global-color medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta totam eaque blanditiis, recusandae, facilis incidunt iusto eos, non officia consectetur est aliquid optio corporis molestias magnam a iste quas suscipit.</p>
              </div>
            </div>
            <ul class="grid-list grid-list-4">
              <li>
                <div class="mb-28">
                  <img src="{site_url}assets/img/img-sq.png" alt="" class="img-circle" width="163px" height="auto">
                </div>
                <h5 class="text-global-color medium uppercase">Understand</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit tempore vel dolores voluptatum ex adipisci numquam minima laboriosam.</p>
              </li>
              <li>
                <div class="mb-28">
                  <img src="{site_url}assets/img/img-sq.png" alt="" class="img-circle" width="163px" height="auto">
                </div>
                <h5 class="text-global-color medium uppercase">Understand</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit tempore vel dolores voluptatum ex adipisci numquam minima laboriosam.</p>
              </li>
              <li>
                <div class="mb-28">
                  <img src="{site_url}assets/img/img-sq.png" alt="" class="img-circle" width="163px" height="auto">
                </div>
                <h5 class="text-global-color medium uppercase">Understand</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit tempore vel dolores voluptatum ex adipisci numquam minima laboriosam.</p>
              </li>
              <li>
                <div class="mb-28">
                  <img src="{site_url}assets/img/img-sq.png" alt="" class="img-circle" width="163px" height="auto">
                </div>
                <h5 class="text-global-color medium uppercase">Understand</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit tempore vel dolores voluptatum ex adipisci numquam minima laboriosam.</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="video-wrapper-team bg-gray-lighter mhp-100" id="video-wrapper-team">
          <video 
            id="example_video_1" 
            class="video-js vjs-default-skin"
            controls preload="auto" width="100%" height="100%"
            data-setup='{}'>
            <source src="{site_url}assets/video/TeamPicture.mp4" type='video/mp4' />
            <source src="{site_url}assets/video/TeamPicture.webm" type='video/webm' />
            <source src="{site_url}assets/video/TeamPicture.ogg" type='video/ogg' />
            <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
          </video>
          <div class="overlay text-center">
            <div class="container-sm text-white overlay-trigger overlay-us">
              <h1 class="mb-21 lead">Our Team</h1>
            </div>
          </div>
        </div>
        <div class="bg-gray-lighter pv-56">
          <div class="container ph-0-sm">
            <ul class="bio-grid list-unstyled">
              <li class="bio-item">
                <div>
                  <div class="pic">
                    <img src="{site_url}assets/img/bio-1.jpeg" alt="" class="img-responsive">
                    <div class="overlay text-white">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore repellendus molestiae id maxime possimus magnam, quos quod fuga iure ut eligendi quisquam soluta, odit pariatur, rem, eveniet alias quas nihil?</p>
                      <nav class="h3 mt-21">
                        <a href="#"><i class="flaticon-packet"></i></a>
                        <a href="#"><i class="flaticon-twitter42"></i></a>
                      </nav>
                    </div>
                  </div>
                  <div class="details normalize-text pv-7">
                    <h3 class="name text-global-color medium">First Last</h3>
                    <span>Title</span>
                  </div>
                </div>
              </li>
              <li class="bio-item">
                <div>
                  <div class="pic">
                    <img src="{site_url}assets/img/bio-1.jpeg" alt="" class="img-responsive">
                    <div class="overlay text-white">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore repellendus molestiae id maxime possimus magnam, quos quod fuga iure ut eligendi quisquam soluta, odit pariatur, rem, eveniet alias quas nihil?</p>
                      <nav class="h3 mt-21">
                        <a href="#"><i class="flaticon-packet"></i></a>
                        <a href="#"><i class="flaticon-twitter42"></i></a>
                      </nav>
                    </div>
                  </div>
                  <div class="details normalize-text pv-7">
                    <h3 class="name text-global-color medium">First Last</h3>
                    <span>Title</span>
                  </div>
                </div>
              </li>
              <li class="bio-item">
                <div>
                  <div class="pic">
                    <img src="{site_url}assets/img/bio-1.jpeg" alt="" class="img-responsive">
                    <div class="overlay text-white">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore repellendus molestiae id maxime possimus magnam, quos quod fuga iure ut eligendi quisquam soluta, odit pariatur, rem, eveniet alias quas nihil?</p>
                      <nav class="h3 mt-21">
                        <a href="#"><i class="flaticon-packet"></i></a>
                        <a href="#"><i class="flaticon-twitter42"></i></a>
                      </nav>
                    </div>
                  </div>
                  <div class="details normalize-text pv-7">
                    <h3 class="name text-global-color medium">First Last</h3>
                    <span>Title</span>
                  </div>
                </div>
              </li>
              <li class="bio-item">
                <div>
                  <div class="pic">
                    <img src="{site_url}assets/img/bio-1.jpeg" alt="" class="img-responsive">
                    <div class="overlay text-white">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore repellendus molestiae id maxime possimus magnam, quos quod fuga iure ut eligendi quisquam soluta, odit pariatur, rem, eveniet alias quas nihil?</p>
                      <nav class="h3 mt-21">
                        <a href="#"><i class="flaticon-packet"></i></a>
                        <a href="#"><i class="flaticon-twitter42"></i></a>
                      </nav>
                    </div>
                  </div>
                  <div class="details normalize-text pv-7">
                    <h3 class="name text-global-color medium">First Last</h3>
                    <span>Title</span>
                  </div>
                </div>
              </li>
              <li class="bio-item">
                <div>
                  <div class="pic">
                    <img src="{site_url}assets/img/bio-1.jpeg" alt="" class="img-responsive">
                    <div class="overlay text-white">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore repellendus molestiae id maxime possimus magnam, quos quod fuga iure ut eligendi quisquam soluta, odit pariatur, rem, eveniet alias quas nihil?</p>
                      <nav class="h3 mt-21">
                        <a href="#"><i class="flaticon-packet"></i></a>
                        <a href="#"><i class="flaticon-twitter42"></i></a>
                      </nav>
                    </div>
                  </div>
                  <div class="details normalize-text pv-7">
                    <h3 class="name text-global-color medium">First Last</h3>
                    <span>Title</span>
                  </div>
                </div>
              </li>
              <li class="bio-item">
                <div>
                  <div class="pic">
                    <img src="{site_url}assets/img/bio-1.jpeg" alt="" class="img-responsive">
                    <div class="overlay text-white">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore repellendus molestiae id maxime possimus magnam, quos quod fuga iure ut eligendi quisquam soluta, odit pariatur, rem, eveniet alias quas nihil?</p>
                      <nav class="h3 mt-21">
                        <a href="#"><i class="flaticon-packet"></i></a>
                        <a href="#"><i class="flaticon-twitter42"></i></a>
                      </nav>
                    </div>
                  </div>
                  <div class="details normalize-text pv-7">
                    <h3 class="name text-global-color medium">First Last</h3>
                    <span>Title</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        {embed="includes/pie-de-pagina"}
      </div>
{embed="includes/footer"}      