{embed="includes/header"}
{embed="includes/head"}
{embed="includes/menu"}
      <div class="video-wrapper" id="fold">
        <div class="overlay text-center">
          <div class="container-sm text-white overlay-trigger overlay-us on-scroll">
            <h1 class="mb-21 lead">Improving the lives of Peruvian people through human centered innovation.</h1>
            <a href="#" class="more">Learn more</a><span> &#8594;</span>
          </div>
        </div>
        <div class="scroll-down smooth-scroll text-global-color">
          <a href="#main">&#8595;</a>
        </div>
      </div>
      <div class="site-content" id="main">
        <div class="bg-gray-lighter">
          <div class="container pv-35">
            <h1 class="underline text-global-color">Our Process</h1>
            <div class="row pv-21">
              <div class="col-sm-8">
                <p class="text-global-color medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta totam eaque blanditiis, recusandae, facilis incidunt iusto eos, non officia consectetur est aliquid optio corporis molestias magnam a iste quas suscipit.</p>
              </div>
            </div>
            <ul class="grid-list grid-list-4">
              <li>
                <div class="mb-28">
                  <img src="{site_url}assets/img/img-sq.png" alt="" class="img-circle" width="163px" height="auto">
                </div>
                <h5 class="text-global-color medium uppercase">Understand</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit tempore vel dolores voluptatum ex adipisci numquam minima laboriosam.</p>
              </li>
              <li>
                <div class="mb-28">
                  <img src="{site_url}assets/img/img-sq.png" alt="" class="img-circle" width="163px" height="auto">
                </div>
                <h5 class="text-global-color medium uppercase">Understand</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit tempore vel dolores voluptatum ex adipisci numquam minima laboriosam.</p>
              </li>
              <li>
                <div class="mb-28">
                  <img src="{site_url}assets/img/img-sq.png" alt="" class="img-circle" width="163px" height="auto">
                </div>
                <h5 class="text-global-color medium uppercase">Understand</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit tempore vel dolores voluptatum ex adipisci numquam minima laboriosam.</p>
              </li>
              <li>
                <div class="mb-28">
                  <img src="{site_url}assets/img/img-sq.png" alt="" class="img-circle" width="163px" height="auto">
                </div>
                <h5 class="text-global-color medium uppercase">Understand</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit tempore vel dolores voluptatum ex adipisci numquam minima laboriosam.</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="video-wrapper-team bg-gray-lighter mhp-100" id="video-wrapper-team">
          <video 
            id="example_video_1" 
            class="video-js vjs-default-skin"
            controls preload="auto" width="100%" height="100%"
            data-setup='{}'>
            <source src="assets/video/waterlily.mp4" type='video/mp4' />
            <source src="assets/video/waterlily.webm" type='video/webm' />
            <!-- <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' /> -->
            <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
          </video>
          <div class="overlay text-center">
            <div class="container-sm text-white overlay-trigger overlay-us">
              <h1 class="mb-21 lead">Our Team</h1>
            </div>
          </div>
        </div>
        {embed="includes/pie-de-pagina"}
      </div>
{embed="includes/footer"}      