{embed="includes/header"}
      {embed="includes/menu"}
      <div class="header pv-14">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-3">
              <a href="#" class="logo">
                <!-- <img src="assets/img/logo_lavictorialabs-pink-white.png" alt=""> -->
              </a>
            </div>
            <div class="col-xs-9 pt-28">
              <nav>
                <a href="#" class="text-global-color">Work</a>
                <a href="#" class="text-global-color">US</a>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <div class="video-wrapper">
        <div class="overlay text-center">
          <div class="container-sm text-white overlay-trigger">
            <h1 class="mb-21 lead">Improving the lives of Peruvian people through human centered innovation.</h1>
            <a href="#" class="more">Leer más</a><span> &#8594;</span>
          </div>
        </div>
        <div class="scroll-down smooth-scroll">
          <a href="#main" class="text-global-color">&#8595;</a>
        </div>
      </div>
      <div class="site-content" id="main">
        <div class="mhp-100 bg-gradient-feo flex flex-center flex-column flex-middle">
          <div class="container-sm text-white text-center">
            <h1 class="lead mb-21">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
            <a href="#" class="more">Leer más</a><span> &#8594;</span>
          </div>
          <div class="scroll-down smooth-scroll">
            <a href="#sec-1" class="text-global-color">&#8595;</a>
          </div>
        </div>
        <div id="sec-1" class="mhp-100 bg-img-block" style="background: url(assets/img/project-bg-1.jpg);">
          <div class="overlay text-center flex flex-column flex-middle flex-center">
            <div class="container-sm text-white">
              <h2 class="mb-35 overlay-trigger lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
              <a href="#" class="more">View Project</a><span> &#8594;</span>
            </div>
          </div>
          <div class="scroll-down smooth-scroll">
            <a href="#sec-2" class="text-global-color">&#8595;</a>
          </div>
        </div>
        <div id="sec-2" class="mhp-100 bg-gray-lighter">
          <div class="container pt-21">
            <ul class="grid-list grid-list-2 grid-list-anchors isotope-container">
              <li class="post-item post-item-img">
                <a href="#">
                  <div class="pic">
                    <img src="assets/img/bg-personales-2.jpg" alt="">
                    <div class="info"></div>
                  </div>
                  <div class="body">
                    <div class="info">
                      <span class="type">POST</span> <span class="date">September 9, 2014</span>
                    </div>
                    <div class="title">
                      <h1 class="text-global-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
                    </div>
                    <div class="excerpt">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic omnis alias quidem ipsa pariatur explicabo nemo reiciendis illum unde, et eum neque veritatis eligendi adipisci est, deleniti at repudiandae odit.</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="post-item post-item-img">
                <a href="#">
                  <div class="pic">
                    <img src="assets/img/bg-personales-3.jpg" alt="">
                    <div class="info"></div>
                  </div>
                  <div class="body">
                    <div class="info">
                      <span class="type">POST</span> <span class="date">September 9, 2014</span>
                    </div>
                    <div class="title">
                      <h1 class="text-global-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
                    </div>
                    <div class="excerpt">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic omnis alias quidem ipsa pariatur explicabo nemo reiciendis illum unde, et eum neque veritatis eligendi adipisci est, deleniti at repudiandae odit.</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="post-item post-item-link">
                <a href="#">
                  <div class="body bg-global-color">
                    <div class="info">
                      <span class="type">POST</span> <span class="date">September 9, 2014</span>
                    </div>
                    <div class="title">
                      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
                    </div>
                  </div>
                </a>
              </li>
              <li class="post-item post-item-img">
                <a href="#">
                  <div class="pic">
                    <img src="assets/img/bg-personales-5.jpg" alt="">
                    <div class="info"></div>
                  </div>
                  <div class="body">
                    <div class="info">
                      <span class="type">POST</span> <span class="date">September 9, 2014</span>
                    </div>
                    <div class="title">
                      <h1 class="text-global-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
                    </div>
                    <div class="excerpt">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic omnis alias quidem ipsa pariatur explicabo nemo reiciendis illum unde, et eum neque veritatis eligendi adipisci est, deleniti at repudiandae odit.</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="post-item post-item-instagram">
                <a href="#">
                  <div class="pic">
                    <img src="assets/img/bg-personales-8.jpg" alt="">
                    <div class="info">
                      <i class="flaticon-instagram15"></i> <span class="date">September 9, 2014</span>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <nav class="text-global-color">
                  <a href="#"><i class="flaticon-packet"></i></a>
                  <a href="#"><i class="flaticon-twitter42"></i></a>
                  <a href="#"><i class="flaticon-youtube34"></i></a>
                  <a href="#"><i class="flaticon-instagram15"></i></a>
                </nav>
              </div>
              <div class="col-sm-6">
                <ul class="footer-nav">
                  <li>
                    <a href="#" class="light dropdown-toggle">EN</a>
                    <ul class="dropdown language-dropdown hidden">
                      <li><a href="#">ES</a></li>
                    </ul>
                  </li>                  
                  <li>
                    <a href="#">Blog</a>
                  </li>
                  <li>
                    <a href="#">Contact Us</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
{embed="includes/footer"}      