{embed="includes/head"}
  <main class="site-content onepage-scroll-content" role="main">
    <section class="hero-unit">
      <video
        id="videocover"
        autoplay
        loop
        class="video-js videocover vjs-default-skin"
        controls
        muted
        preload="auto">
        <source src="{site_url}app/assets/video/lab-opening.webm" type='video/webm' />
        <source src="{site_url}app/assets/video/lab-opening.mp4" type='video/mp4' />
        <source src="{site_url}app/assets/video/lab-opening.ogg" type='video/ogg' />
        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
      </video>
      <div class="overlay flex-middle-center">
        <div class="container-sm text-center on-scroll text-shadow">
          <h1 class="lead text-white book">How might we improve the lives of Peruvian people?</h1>
        </div>
      </div>
    </section>
    <section class="minhp-100 bg-white">
      <div class="overlay flex-middle-center text-center">
        <div class="container-sm lead-ch">
          <h3>We exist to create new experiences for Peruvian families by reimagining Intercorp businesses.</h3>
          <div class="separator separator-gray-dark separator-centered"></div>
          <p class="custom-quotes">Working closely with IDEO, the world&#x2019;s leading design consultancy, we&#x2019;ve set up a small studio in the La Victoria neighborhood in Lima, where we&#x2019;re bringing innovation closer to dozens of companies in the Intercorp portfolio.</p>
          <a href="#" class="btn btn-icon-outline btn-gray-dark unlead">
            <span>Learn more</span>
            <i class="icon-chevron-right"></i>
          </a>
        </div>
      </div>
    </section>
    <section class="minhp-100">
      <div class="bg-gallery-wrapper">
        <div class="gallery js-flickity" data-flickity-options='{ "cellAlign": "left", "contain": true, "pageDots": false, "prevNextButtons": false, "autoPlay": 7000, "wrapAround": true }'>
          <div class="gallery-cell" 
              data-responsive-bg-img='{ 
                "vw-phone": "{site_url}app/assets/img/156H-480.jpg",
                "vw-tablet": "{site_url}app/assets/img/156H-720.jpg",
                "vw-desktop": "{site_url}app/assets/img/156H-960.jpg",
                "vw-lg-desktop": "{site_url}app/assets/img/156H-1140.jpg"
              }'>
            <div class="gallery-cell-wrapper">
              <div class="gallery-cell-content flex-middle-center">
                <div class="container-sm text-white lead-ch text-shadow text-center">
                  <h3>Understanding The New Peruvian Middle-Class</h3>
                  <div class="separator separator-white separator-centered"></div>
                  <p class="custom-quotes">How might we understand the desires and aspirations of middle-class families to develop better products and services?</p>
                  <a href="#" class="btn btn-icon-outline btn-white unlead">
                    <span>Learn more</span>
                    <i class="icon-chevron-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="gallery-cell" 
              data-responsive-bg-img='{ 
                "vw-phone": "{site_url}app/assets/img/156H-480.jpg",
                "vw-tablet": "{site_url}app/assets/img/156H-720.jpg",
                "vw-desktop": "{site_url}app/assets/img/156H-960.jpg",
                "vw-lg-desktop": "{site_url}app/assets/img/156H-1140.jpg"
              }'>
            <div class="gallery-cell-wrapper">
              <div class="gallery-cell-content flex-middle-center">
                <div class="container-sm text-white lead-ch text-shadow text-center">
                  <h3>Understanding The New Peruvian Middle-Class</h3>
                  <div class="separator separator-white separator-centered"></div>
                  <p class="custom-quotes">How might we understand the desires and aspirations of middle-class families to develop better products and services?</p>
                  <a href="#" class="btn btn-icon-outline btn-white unlead">
                    <span>Learn more</span>
                    <i class="icon-chevron-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="minhp-100 bg-white section-last">
      <footer class="minh-70 bg-gray-darker">
        <div class="container">
          <div class="left">
            <nav>
              <a href="#"></a>
            </nav>
          </div>
          <div class="right">
            <nav class="ml-ch-14">
              <a href="#">Contact Us</a>
              <a href="#" class="language-dropdown">EN <i class="icon-chevron-down small"></i></a>
            </nav>
          </div>
        </div>
      </footer>
    </section>
  </main>
{embed="includes/footer"}      