{embed="includes/header"}
{embed="includes/head"}
{embed="includes/menu"}
      <div class="fold fold-fixed mhp-100">
        <video
          id="videocover"
          muted
          autoplay
          loop
          class="video-js videocover vjs-default-skin"
          controls
          preload="auto">
          <source src="assets/video/lab-opening.webm" type='video/webm' />
          <source src="assets/video/lab-opening.mp4" type='video/mp4' />
          <source src="assets/video/lab-opening.ogg" type='video/ogg' />
          <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
        <div class="overlay on-scroll text-center flex-middle-center">
          <div class="container-sm text-white relative">
            <div class="" style="position: absolute; width: 100%;">
              <h1 class="mb-21 lead mt-0">How might we improve the lives of Peruvian people?</h1>
              <!-- <a href="{site_url}projects" class="more">Learn more</a><span> &#8594;</span> -->
              <a href="#" class="h2 lead play-video-full-screen"><i class="flaticon-key9"></i></a> 
            </div>
          </div>
          <div class="scroll-down text-danger">
            <a href="#main">&#8595;</a>
          </div>
        </div>
      </div>
      <div class="site-content" id="main">
        <div class="header-trigger"></div>
        <div class="mhp-100 bg-gradient-feo flex flex-center flex-column flex-middle relative">
          <div class="container-sm text-white text-center">
            <h1 class="lead mb-21">We exist to create new experiences for Peruvian families by reimagining Intercorp businesses.</h1>
            <h2 class="mb-35">Working closely with IDEO, the world’s leading design consultancy, we’ve set up a small studio in the La Victoria neighborhood in Lima, where we’re bringing innovation closer to dozens of companies in the Intercorp portfolio.</h2>
            <a href="{site_url}aboutus" class="more">Learn more</a><span> &#8594;</span>
          </div>
          <div class="scroll-down smooth-scroll text-white">
            <a href="#sec-1">&#8595;</a>
          </div>
        </div>
        {exp:channel:entries channel="projects" limit="1" dynamic="off" orderby="date" sort="asc"}
          {project-image-main limit="1"}
          <div id="sec-1" class="mhp-100 bg-img-block bg-img-cover" style="background-image: url({image:url:large})">
          {/project-image-main}
          <div class="overlay text-center flex flex-column flex-middle flex-center">
            <div class="container-sm text-white overlay-trigger overlay-work">
              <h1 class="lead">{project-featured}</h1>
              <h2 class="mb-35">{project-intro}</h2>
              <a href="{site_url}projects/project-show/{url_title}" class="more">View Project</a><span> &#8594;</span>
            </div>
          </div>
          <div class="scroll-down smooth-scroll text-danger">
            <a href="#sec-2">&#8595;</a>
          </div>
        </div>
        {/exp:channel:entries}
        <!--<div id="sec-2" class="mhp-100 bg-gray-lighter">
          <div class="container ptp-7">
            <ul class="grid-list grid-list-2 grid-list-anchors isotope-container match-margin">
              <li class="post-item post-item-img">
                <a href="#">
                  <div class="pic">
                    <div class="overlay overlay-work"></div>
                    <img src="{site_url}assets/img/bg-personales-2.jpg" alt="">
                    <div class="info"></div>
                  </div>
                  <div class="body">
                    <div class="info">
                      <span class="type">WORK</span>
                    </div>
                    <div class="title">
                      <h1 class="text-color-work">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
                    </div>
                    <div class="excerpt">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic omnis alias quidem ipsa pariatur explicabo nemo reiciendis illum unde, et eum neque veritatis eligendi adipisci est, deleniti at repudiandae odit.</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="post-item post-item-img">
                <a href="#">
                  <div class="pic">
                    <div class="overlay overlay-blog"></div>
                    <img src="{site_url}assets/img/bg-personales-3.jpg" alt="">
                    <div class="info"></div>
                  </div>
                  <div class="body">
                    <div class="info">
                      <span class="type">BLOG</span> <span class="date">September 9, 2014</span>
                    </div>
                    <div class="title">
                      <h1 class="text-warning">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
                    </div>
                    <div class="excerpt">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic omnis alias quidem ipsa pariatur explicabo nemo reiciendis illum unde, et eum neque veritatis eligendi adipisci est, deleniti at repudiandae odit.</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="post-item post-item-link">
                <a href="#">
                  <div class="body bg-warning">
                    <div class="info">
                      <span class="type">LINK</span> <span class="date">September 9, 2014</span>
                    </div>
                    <div class="title">
                      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
                    </div>
                  </div>
                </a>
              </li>
              <li class="post-item post-item-img">
                <a href="#">
                  <div class="pic">
                    <div class="overlay overlay-blog"></div>
                    <img src="{site_url}assets/img/bg-personales-5.jpg" alt="">
                    <div class="info"></div>
                  </div>
                  <div class="body">
                    <div class="info">
                      <span class="type">BLOG</span> <span class="date">September 9, 2014</span>
                    </div>
                    <div class="title">
                      <h1 class="text-warning">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
                    </div>
                    <div class="excerpt">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic omnis alias quidem ipsa pariatur explicabo nemo reiciendis illum unde, et eum neque veritatis eligendi adipisci est, deleniti at repudiandae odit.</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="post-item post-item-instagram">
                <a href="#">
                  <div class="pic">
                    <div class="overlay overlay-blog"></div>
                    <img src="{site_url}assets/img/bg-personales-8.jpg" alt="">
                    <div class="info">
                      <i class="flaticon-instagram15"></i> <span class="date">September 9, 2014</span>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>-->
        {embed="includes/pie-de-pagina"}
      </div>
{embed="includes/footer"}      