{embed="includes/header"}
{embed="includes/head"}
  <div class="site-content no-video" id="main">
    {exp:channel:entries channel="projects" limit="5" dynamic="off" orderby="date" sort="asc"}
      {project-image-main limit="1"}
      <div class="mhp-100 bg-img-block bg-img-cover" style="background-image: url({image:url:large})">
      {/project-image-main}
      {if count=="2"}
        <div class="header-trigger"></div>
      {/if}
        <div class="overlay text-center flex flex-column flex-middle flex-center">
          <div class="container-sm text-white overlay-trigger overlay-work">
            <h1 class="lead">{project-intro}</h1>
            <!-- <h2 class="mb-35"></h2> -->
            <a href="{site_url}projects/project-show/{url_title}" class="more">View Project</a><span> &#8594;</span>
          </div>
        </div>
        <div class="scroll-down smooth-scroll text-global-color">
          <a href="#sec-1">&#8595;</a>
        </div>
      </div>
    {/exp:channel:entries}
    <div class="container ptp-7" id="sec-3">
      <!-- <div class="clearfix">
        <div class="col-sm-12">
          <hr class="hr-gray-light">
        </div>
      </div> -->
      <ul class="grid-list grid-list-2 grid-list-anchors isotope-container match-margin">
        <li class="post-item post-item-img">
          <a href="#">
            <div class="pic">
              <div class="overlay overlay-work"></div>
              <img src="{site_url}assets/img/bg-personales-2.jpg" alt="">
              <div class="info"></div>
            </div>
            <div class="body">
              <div class="info">
                <span class="type">WORK</span>
              </div>
              <div class="title">
                <h1 class="text-color-work">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
              </div>
              <div class="excerpt">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic omnis alias quidem ipsa pariatur explicabo nemo reiciendis illum unde, et eum neque veritatis eligendi adipisci est, deleniti at repudiandae odit.</p>
              </div>
            </div>
          </a>
        </li>
        <li class="post-item post-item-img">
          <a href="#">
            <div class="pic">
              <div class="overlay overlay-work"></div>
              <img src="{site_url}assets/img/bg-personales-2.jpg" alt="">
              <div class="info"></div>
            </div>
            <div class="body">
              <div class="info">
                <span class="type">WORK</span>
              </div>
              <div class="title">
                <h1 class="text-color-work">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
              </div>
              <div class="excerpt">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic omnis alias quidem ipsa pariatur explicabo nemo reiciendis illum unde, et eum neque veritatis eligendi adipisci est, deleniti at repudiandae odit.</p>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    {embed="includes/pie-de-pagina"} 
{embed="includes/footer"}