{embed="includes/head"}
  <div class="site-content no-video" id="main">
    {exp:channel:entries channel="projects" limit="5" dynamic="off" orderby="date" sort="asc"}
      {project-image-main limit="1"}
      <div class="mhp-100 bg-img-block bg-img-cover" style="background-image: url({image:url:large})">
      {/project-image-main}
      {if count=="2"}
        <div class="header-trigger"></div>
      {/if}
        <div class="overlay text-center flex flex-column flex-middle flex-center">
          <div class="container-sm text-white overlay-trigger overlay-work">
            <h1 class="lead">{project-intro}</h1>
            <!-- <h2 class="mb-35"></h2> -->
            <a href="{site_url}projects/project-show/{url_title}" class="more">View Project</a><span> &#8594;</span>
          </div>
        </div>
        <div class="scroll-down smooth-scroll text-global-color">
          <a href="#sec-1">&#8595;</a>
        </div>
      </div>
    {/exp:channel:entries}
{embed="includes/footer"}