{embed="includes/head"}
  <main class="site-content onepage-scroll-content" role="main">
  {exp:channel:entries channel="projects" limit="5" dynamic="off" orderby="date" sort="asc"}
    <section class='{if count=="1"} hero-unit full-height {if:else} minhp-100 {/if}'
            {project-image-main limit="1"}
            data-responsive-bg-img='{
                "vw-phone": "{image:url:small}",
                "vw-tablet": "{image:url:medium}",
                "vw-desktop": "{image:url:large}",
                "vw-lg-desktop": "{image:url}"
              }'
            {/project-image-main}>
      <div class="overlay flex-middle-center text-center">
        <div class="container-sm lead-ch text-white text-shadow">
          <h3>{project-intro}</h3>
          <div class="separator separator-white separator-centered mv-21"></div>
          <a href="{site_url}projects/project-show/{url_title}" class="btn btn-icon-outline btn-white unlead">
            <span>Learn more</span>
            <i class="icon-chevron-right"></i>
          </a>
        </div>
      </div>
    </section>
  {/exp:channel:entries}
  </main>
{embed="includes/footer"}      