{embed="includes/head"}
  {exp:channel:entries channel="projects" limit="1"}
  <main class="site-content" role="main">
    <section class="hero-unit full-height">
      <div class="bg-gallery-wrapper">
        <div class="gallery js-flickity" data-flickity-options='{ "cellAlign": "left", "contain": true, "pageDots": false, "prevNextButtons": false, "autoPlay": 3000, "wrapAround": true }'>
          {project-image-main}
          <div class="gallery-cell" 
              data-responsive-bg-img='{ 
                "vw-phone": "{image:url:small}",
                "vw-tablet": "{image:url:medium}",
                "vw-desktop": "{image:url:large}",
                "vw-lg-desktop": "{image:url:large}"
              }'>
          </div>
          {/project-image-main}       
        </div>
      </div>
      <div class="overlay flex-column-center flex-align-center">
        <div class="container-sm text-white lead-ch text-shadow text-center">
          <h3>{title}</h3>
          <div class="separator separator-white separator-centered"></div>
          <p class="custom-quotes">{project-intro}</p>
        </div>
      </div>
    </section>
    <section class="minhp-100 pv-70">
      <div class="container pv-ch-14 pb-42">
        <div class="row minh-ch-70 flex-middle-ch">
          <div class="col-sm-3">
            <div>
              <a href="{site_url}projects" class="icon-arrow-left"></a>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="minh-70 flex-row-space-between">
              <div>
                <h5 class="uppercase medium">Client</h5>
                <a href="#">{project-client}</a>
              </div>
              <div>
                <h5 class="uppercase medium">Date</h5>
                <span>{project-date}</span>
              </div>
              <div class="project-collaborators">
                <h5 class="uppercase medium">Team</h5>
                <nav class="mr-ch-14">
                  {project_team}
                    <span>{item}</span> 
                  {/project_team}
                  <span>{team_externo}</span>
                </nav>
              </div>
            </div>
          </div>
          <div class="col-sm-3"></div>
        </div>
      </div>
      {project-content}
    </section>
  </main>
  {/exp:channel:entries}
{embed="includes/footer"} 