{embed="includes/header"}
{embed="includes/head"}
{embed="includes/menu"}
      <div class="video-wrapper-fold bg-gray-lighter mhp-100" id="video-wrapper-fold">
        <video 
          id="fold_video"
          class="video-js vjs-default-skin"
          controls preload="auto" width="100%" height="100%"
          data-setup='{}'
          poster="{site_url}assets/img/project-bg-2.jpg">
          <source src="{site_url}assets/video/lab-construction.mp4" type='video/mp4' />
          <source src="{site_url}assets/video/lab-construction.webm" type='video/webm' />
          <source src="{site_url}assets/video/lab-construction.ogg" type='video/ogg' />
          <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
        <div class="overlay text-center">
          <div class="container-sm text-white overlay-trigger overlay-us on-scroll">
            <h1 class="mb-21 lead">How might we improve the experience of frontline staff?</h1>
            <a href="#" class="h1 lead play-video"><i class="flaticon-key9"></i></a>
          </div>
          <div class="scroll-down smooth-scroll text-global-color">
            <a href="#main">&#8595;</a>
          </div>
        </div>
      </div>
      <div class="site-content" id="main">
        <div class="mhp-100 pv-42 bg-gray-lighter">
          <div class="container-sm relative">
            <div class="back-arrow text-global-color">
              <a href="{site_url}projects">&#8592;</a>
            </div>
            <ul class="grid-list grid-list-3 underline text-gray-dark pl-ch-0-sm">
              <li>
                <h5 class="uppercase medium">Client</h5>
                <a href="#">Bembos</a>
              </li>
              <li>
                <h5 class="uppercase medium">DATE</h5>
                <span>May-July 2014</span>
              </li>
              <li>
                <h5 class="uppercase medium">Team</h5>
                <a href="#">NGR</a> <a href="#">La Victoria Labs</a> <a href="#">IDEO</a>
              </li>
            </ul>
            <div class="pt-ch-35 normalize-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis accusamus fugiat itaque. Minima, quod, officiis. Alias quae iste ipsam non ea, dolore laborum asperiores omnis numquam praesentium corporis? Voluptates, ea! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, quod assumenda reiciendis maiores blanditiis a aliquam quasi fugiat. Adipisci quasi voluptatum, quisquam debitis vel, ab perspiciatis obcaecati? Laborum, voluptatibus accusamus.</p>
              <div>
                <h5 class="uppercase medium">Outputs</h5>
                <ul class="grid-list text-success">
                  <li class="pl-0">
                    <div class="h1">
                      <i class="icon-icon_68394"></i>
                    </div>
                    <span>Design<br>Principles</span>
                  </li>
                  <li>
                    <div class="h1">
                      <i class="icon-icon_70729"></i>
                    </div>
                    <span>Prototype</span>
                  </li>
                  <li>
                    <div class="h1">
                      <i class="icon-icon_72585"></i>
                    </div>
                    <span>Workshop</span>
                  </li>
                  <li>
                    <div class="h1">
                      <i class="icon-icon_72580"></i>
                    </div>
                    <span>Video</span>
                  </li>
                </ul>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis accusamus fugiat itaque. Minima, quod, officiis. Alias quae iste ipsam non ea, dolore laborum asperiores omnis numquam praesentium corporis? Voluptates, ea! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, quod assumenda reiciendis maiores blanditiis a aliquam quasi fugiat. Adipisci quasi voluptatum, quisquam debitis vel, ab perspiciatis obcaecati? Laborum, voluptatibus accusamus.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis accusamus fugiat itaque. Minima, quod, officiis. Alias quae iste ipsam non ea, dolore laborum asperiores omnis numquam praesentium corporis? Voluptates, ea! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, quod assumenda reiciendis maiores blanditiis a aliquam quasi fugiat. Adipisci quasi voluptatum, quisquam debitis vel, ab perspiciatis obcaecati? Laborum, voluptatibus accusamus.</p>
            </div>
          </div>
          <div class="container-fluid pt-42">
            <img src="{site_url}assets/img/bg-project-1.jpg" alt="" class="img-responsive">
          </div>
          <div class="container-sm pt-21">
            <div class="row small">
              <div class="col-sm-6">
                <small><strong>Lorem ipsum dolor sit amet, consectetur</strong>. Reiciendis accusamus fugiat itaque. Minima, quod, officiis. Alias quae iste ipsam non ea, dolore laborum asperiores omnis numquam praesentium corporis? Voluptates, ea! Lorem ipsum dolor sit amet.</small>
              </div>
              <div class="col-sm-6">
                <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis accusamus fugiat itaque. Minima, quod, officiis. Alias quae iste ipsam non ea, dolore laborum asperiores omnis numquam praesentium corporis?</small>
              </div>
            </div>
            <div class="pt-ch-35 normalize-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis accusamus fugiat itaque. Minima, quod, officiis. Alias quae iste ipsam non ea, dolore laborum asperiores omnis numquam praesentium corporis? Voluptates, ea! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, quod assumenda reiciendis maiores blanditiis a aliquam quasi fugiat. Adipisci quasi voluptatum, quisquam debitis vel, ab perspiciatis obcaecati? Laborum, voluptatibus accusamus.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis accusamus fugiat itaque. Minima, quod, officiis. Alias quae iste ipsam non ea, dolore laborum asperiores omnis numquam praesentium corporis? Voluptates, ea! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, quod assumenda reiciendis maiores blanditiis a aliquam quasi fugiat. Adipisci quasi voluptatum, quisquam debitis vel, ab perspiciatis obcaecati? Laborum, voluptatibus accusamus.</p>
            </div>
          </div>
          <div class="container pv-35">
            <ul class="grid-list grid-list-centered grid-list-2">
              <li><img src="{site_url}assets/img/ph-project-1.jpg" alt="" class="img-responsive"></li>
              <li><img src="{site_url}assets/img/ph-project-1.jpg" alt="" class="img-responsive"></li>
              <li><img src="{site_url}assets/img/ph-project-1.jpg" alt="" class="img-responsive"></li>
              <li><img src="{site_url}assets/img/ph-project-1.jpg" alt="" class="img-responsive"></li>
            </ul>
          </div>
          <div class="container-sm pt-ch-21">
            <h5 class="medium uppercase">Additional information</h5>
            <p>To learn more about this project, contact <a href="#" class="underline">Gonzalo Pérez Paredes</a></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt optio, earum officiis similique doloremque beatae quisquam, fuga pariatur quasi expedita quas eveniet culpa sed excepturi perferendis alias quod sint, dolore?</p>
          </div>
          <div class="container">
            <div class="row">
              <hr class="hr-gray-light">
            </div>
            <ul class="grid-list grid-list-2 grid-list-anchors isotope-container match-margin">
              <li class="post-item post-item-img">
                <a href="{site_url}blog/post">
                  <div class="pic">
                    <div class="overlay overlay-work"></div>
                    <img src="{site_url}assets/img/bg-personales-2.jpg" alt="">
                    <div class="info"></div>
                  </div>
                  <div class="body">
                    <div class="info">
                      <span class="type">WORK</span>
                    </div>
                    <div class="title">
                      <h1 class="text-color-work">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
                    </div>
                    <div class="excerpt">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic omnis alias quidem ipsa pariatur explicabo nemo reiciendis illum unde, et eum neque veritatis eligendi adipisci est, deleniti at repudiandae odit.</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="post-item post-item-img">
                <a href="#">
                  <div class="pic">
                    <div class="overlay overlay-work"></div>
                    <img src="{site_url}assets/img/bg-personales-2.jpg" alt="">
                    <div class="info"></div>
                  </div>
                  <div class="body">
                    <div class="info">
                      <span class="type">WORK</span>
                    </div>
                    <div class="title">
                      <h1 class="text-color-work">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
                    </div>
                    <div class="excerpt">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic omnis alias quidem ipsa pariatur explicabo nemo reiciendis illum unde, et eum neque veritatis eligendi adipisci est, deleniti at repudiandae odit.</p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        {embed="includes/pie-de-pagina"}
      </div>
{embed="includes/footer"}      