{embed="includes/header"}
	{embed="includes/head"}
	{embed="includes/menu"}
    <div class="site-content no-video" id="main">
      <div class="mhp-50" style="background: url({site_url}assets/img/bg-project-1.jpg) no-repeat center center; background-size: 100%;"></div>
      <div class="mhp-100 pv-42 bg-gray-lighter">
          <div class="container-sm relative">
            <h1 class="text-global-color underline">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
            <ul class="grid-list grid-list-4 text-gray-dark pl-ch-0 pr-ch-0">
              <li>
                <h5 class="uppercase medium">DATE</h5>
                <span>May-July 2014</span>
              </li>
              <li>
                <h5 class="uppercase medium">Share</h5>
                <nav class="text-global-color h4">
                  <a href="#"><i class="flaticon-packet"></i></a>
                  <a href="#"><i class="flaticon-twitter42"></i></a>
                  <a href="#"><i class="flaticon-facebook48"></i></a>
                </nav>
              </li>
            </ul>
            <div class="pt-ch-35 normalize-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis accusamus fugiat itaque. Minima, quod, officiis. Alias quae iste ipsam non ea, dolore laborum asperiores omnis numquam praesentium corporis? Voluptates, ea! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, quod assumenda reiciendis maiores blanditiis a aliquam quasi fugiat. Adipisci quasi voluptatum, quisquam debitis vel, ab perspiciatis obcaecati? Laborum, voluptatibus accusamus.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis accusamus fugiat itaque. Minima, quod, officiis. Alias quae iste ipsam non ea, dolore laborum asperiores omnis numquam praesentium corporis? Voluptates, ea! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, quod assumenda reiciendis maiores blanditiis a aliquam quasi fugiat. Adipisci quasi voluptatum, quisquam debitis vel, ab perspiciatis obcaecati? Laborum, voluptatibus accusamus.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis accusamus fugiat itaque. Minima, quod, officiis. Alias quae iste ipsam non ea, dolore laborum asperiores omnis numquam praesentium corporis? Voluptates, ea! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, quod assumenda reiciendis maiores blanditiis a aliquam quasi fugiat. Adipisci quasi voluptatum, quisquam debitis vel, ab perspiciatis obcaecati? Laborum, voluptatibus accusamus.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis accusamus fugiat itaque. Minima, quod, officiis. Alias quae iste ipsam non ea, dolore laborum asperiores omnis numquam praesentium corporis? Voluptates, ea! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, quod assumenda reiciendis maiores blanditiis a aliquam quasi fugiat. Adipisci quasi voluptatum, quisquam debitis vel, ab perspiciatis obcaecati? Laborum, voluptatibus accusamus.</p>
            </div>
          </div>
        </div>
      {embed="includes/pie-de-pagina"}
    </div>
{embed="includes/footer"}      