html,
body {
	min-height: 100%;
	height: 100%;
	&::-webkit-scrollbar { 
    display: none; 
	}
}

body {
	@include light;
}

.site-wrapper,
.site-content {
	min-height: 100%;
	height: 100%;
}

.site-content {
	position: relative;
	z-index: 900;
	margin-top: 56%;
	background: $gray-lighter;
	padding-top: 77px;
	&.no-video {
		margin-top: 0;
		padding-top: 0;
	}
}

a.more,
button.more {
	text-decoration: underline;
	&:hover {

	}
	content: "\2192";
}

.video-wrapper,
.video-wrapper-fold {
	height: 100%;
	// background: $gray-darker;
	position: fixed;
	width: 100%;
	zoom: 1;
	top: 0;
	.overlay {
		height: 100%;
		@include position(absolute, 0 0 0 0);
		@include display(flex);
		@include justify-content(center);
		@include flex-direction(column);
		@include align-items(center);
	}
}

.video-wrapper-team {
	position: relative;
	height: 100%;
	width: 100%;
	.overlay {
		@include position(absolute, 0 0 0 0);
		height: 100%;
		@include display(flex);
		@include justify-content(center);
		@include flex-direction(column);
		@include align-items(center);
	}
}

.scroll-down {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	padding: 7px 0;
	a {
		font-size: 70px;
		font-size: rem(70);
		// color: $brand-danger;
	}
}

.bg-gradient-feo {
	@include background(linear-gradient(to bottom, $brand-info, $brand-success, $brand-warning, $brand-danger));
}

.bg-img-block {
	// background-size: cover;
	position: relative;
	background-repeat: no-repeat;
	background-position: center top;
	.overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba($gray-darker, 0.3);
	}
}

.site-wrapper {

	// GLOBAL COLOR CONTROL
	@for $i from 1 through length($brand-colors-list) {
		&.global-color-#{nth($brand-colors-sufix-list, $i)} {
			.text-global-color {
				color: #{nth($brand-colors-list, $i)} !important;
				a {
					color: #{nth($brand-colors-list, $i)} !important;
					&:hover {
						color: #{darken(nth($brand-colors-list, $i), 14%)} !important;
					}
				}
			}
			a.text-global-color {
				color: white !important;
				&:hover {
					color: #{darken(nth($brand-colors-list, $i), 14%)} !important;
				}
			}
			.bg-global-color {
				background: #{nth($brand-colors-list, $i)} !important;
			}
			.bg-global-color-op {
				background: #{rgba(nth($brand-colors-list, $i), 0.7)} !important; 
			}
			// COLORS FOR HEADROOM CLASSES
			.header {
				&.headroom {
					&.headroom--not-top {
						nav {
							a {
								color: $gray-dark !important;
								&:hover {
									color: #{darken(nth($brand-colors-list, $i), 14%)} !important;
								}
							}
						}
					}
				}
			}
			// COLORS FOR WORK POSTS
			.text-color-work {
				color: $brand-success !important;
				a {
					color: $brand-success !important;
					&:hover {
						color: darken($brand-success, 14%) !important;
					}
				}
			}
			.bg-color-work {
				background: $brand-success !important;
			}
			// COLORS FOR US POSTS
			.text-color-us {
				color: $brand-info !important;
				a {
					color: $brand-info !important;
					&:hover {
						color: darken($brand-info, 14%) !important;
					}
				}
			}
			.bg-color-us {
				background: $brand-info !important;
			}
		}
	}
}

// ON SCROLL TEXT
.on-scroll {
	padding-top: 12%;
}

// SCROLL DETECT
// .scroll-detect {
// 	.header {
// 		@include transition(all 0.2s ease-in-out);
// 		// position: fixed;
// 	}
// 	&.scroll-detect--not-top {
// 		.header {
// 		}
// 	}
// 	&.scroll-detect--top {
// 		.header	{
// 			position: absolute;
			
// 		}
// 	}
// 	&.scroll-detect--down {
// 		.header {
// 			// nav {
// 			// 	a {
// 			// 		color: $gray-dark !important;
// 			// 		&:hover {
// 			// 			text-decoration: underline !important;
// 			// 		}
// 			// 	}
// 			// }
// 			// opacity: 0;
// 			// display: none;
// 			// position: fixed;
// 			@include transform(translateY(-100%));
// 		}
// 	}
// 	&.scroll-detect--up {
// 		.header {
// 			position: fixed;
// 			@include transform(translateY(0%));
// 			background: rgba(#fff, 0.7);
// 			nav {
// 				a {
// 					color: $gray-dark !important;
// 					&:hover {
// 						text-decoration: underline !important;
// 					}
// 				}
// 			}
// 		}
// 	}
// }

.no-bg-1 {
	background: url(../assets/img/bg-pattern-1.png);
}

// MAKE GRID LIST ITEMS MATCH BOTTOM MARGIN: 

.grid-list {
	&.match-margin {
		margin-left: -$container-fluid !important;
		margin-right: -$container-fluid !important;
	}
}

// BACK ARROW
.back-arrow {
	@include position(absolute, 18px null null -21%);
	// position: absolute;
	// left: -21%;
	// top: 18px;
	font-size: 35px;
}