.header {
	min-height: 70px;
	// background: rgba($gray-darker, 0.7);
	position: absolute;
	width: 100%;
	z-index: 1000;
	top: 0;
	.logo {
		display: block;
		width: 137px;
		height: 76px;
		// img {
		// 	width: 156px;
		// 	width: rem(156);
		// 	height: auto;
		// }
	}
	nav {
		text-align: right;
		a {
			text-transform: uppercase;
			color: white;
			@include book;
			&:nth-child(n+2) {
				margin-left: 14px;
			}
			&:hover {
				text-decoration: underline !important;
			}			
		}
	}
}

// LOGO COLOR CONTROL ACCORDING TO GLOBAL COLOR CLASS
.site-wrapper {
	@for $i from 1 through length($brand-colors-list) {
		&.global-color-#{nth($brand-colors-sufix-list, $i)} {
			.header {
				.logo {
					background: url('../assets/img/logo_lavictorialabs-' + '#{nth($brand-colors-sufix-list, $i)}' + '.png') no-repeat center center;
					background-size: 137px 76px;
				}
				nav {
					a {
						&.active {
							color: #{nth($brand-colors-list, $i)};
							@include medium;
						}
					}
				}
			}
		}
	}
}
