.header {
	min-height: 70px;
	position: fixed;
	width: 100%;
	z-index: 1000;
	top: 0;
	@include transition(all 0.2s ease-in-out);
	.logo {
		display: block;
		width: 137px;
		height: 76px;
	}
	nav {
		text-align: right;
		span {
			a {
				text-transform: uppercase;
				color: white;
				@include book;
				&:hover {
					text-decoration: underline !important;
				}			
			}
			&:nth-child(n+2) {
				margin-left: 14px;
			}
		}
	}
}

// LOGO COLOR CONTROL ACCORDING TO GLOBAL COLOR CLASS
.site-wrapper {
	@for $i from 1 through length($brand-colors-list) {
		&.global-color-#{nth($brand-colors-sufix-list, $i)} {
			.header {
				.logo {
					background: url('../assets/img/logo_lavictorialabs-' + '#{nth($brand-colors-sufix-list, $i)}' + '.png') no-repeat center center;
					background-size: 137px 76px;
				}
				nav {
					a {
						&.active {
							color: #{nth($brand-colors-list, $i)};
							@include medium;
							text-decoration: underline;
						}
					}
				}
				&.header-off {
					.logo {
						background: url('../assets/img/logo_lavictorialabs-' + '#{nth($brand-colors-sufix-list, $i)}' + '-black.png') no-repeat center center;
						background-size: 137px 76px;
					}
					nav {
						a {
							color: $gray-dark;
							&:hover {
								text-decoration: underline;
							}
							&.active {
								color: #{nth($brand-colors-list, $i)};
								@include medium;
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
}

.header {
	&.header-off {
		background: rgba(#fff, 0.9);
		@include transition(all 0.2s ease-in-out);
	}
}