{embed="includes/head"}
  {exp:channel:entries channel="contact" limit="1"}
  <main class="site-content" role="main">
    <section class="hero-unit bg-img-block" 
            {contact_image limit="1"}
            data-responsive-bg-img='{ 
              "vw-phone": "{image:url:small}",
              "vw-tablet": "{image:url:medium}",
              "vw-desktop": "{image:url:large}",
              "vw-lg-desktop": "{image:url:large}"
            }'{/contact_image}>
      <div class="overlay flex-middle-center">
        <div class="container-sm text-white lead-ch text-shadow text-center"></div>
      </div>
    </section>
    <section class="minhp-100 pv-70">
      <div class="container-sm">
        <div class="row">
          <h1 class="underline text-danger">Contact Us</h1>
        </div>
        <div class="row">
          <div class="col-sm-4 pl-0-sm">
            <strong class="uppercase block">Address</strong>
            {contact_address}
            <strong class="uppercase block">Email</strong>
            {contact_email}
            <strong class="uppercase block">Telephone</strong>
            {contact_phone}
          </div>
          <div class="col-sm-8">
            {contact_map_image limit="1"}
            <img src="{image:url:medium}" alt="{image:title}" class="img-responsive">
            {/contact_map_image}
          </div>
        </div>
      </div>
    </section>
  </main>
  {/exp:channel:entries}
{embed="includes/footer"} 