{embed="includes/head"}
  <main class="site-content" role="main">
    <section class="hero-unit">
      <div class="overlay flex-middle-center">
        <div class="container-sm text-white lead-ch text-shadow text-center"></div>
      </div>
    </section>
    <section class="minhp-100 pv-70">
      <div class="container-sm">
        <h1 class="underline text-danger">Contact Us</h1>
        <div class="row">
          <div class="col-sm-4 pl-0-sm">
            <strong class="uppercase block">Address</strong>
            <p>Jr. Manuel Arrisueño 607<br>Urb. Santa Catalina<br>La Victoria<br>Lima, Perú.</p>
            <strong class="uppercase block">Email</strong>
            <p>hello@lavictoria.pe</p>
            <strong class="uppercase block">Telephone</strong>
            <p>+(51)(1)605-8113</p>
          </div>
          <div class="col-sm-8">
            <img src="{site_url}assets/img/map.png" alt="" class="img-responsive">
          </div>
        </div>
      </div>
    </section>
  </main>
{embed="includes/footer"} 