{embed="includes/header"}
{embed="includes/head"}
{embed="includes/menu"}
      <div class="fold mhp-50 bg-img-cover bg-img-block" style="background: url({site_url}assets/img/contacto.jpg) no-repeat center center; background-size: 100%;"></div>
      <div class="site-content no-video" id="main">
        <div class="header-trigger"></div>        
        <div class="mhp-100 pv-70 bg-gray-lighter">
          <div class="container-sm">
            <h1 class="underline text-danger">Contact Us</h1>
          </div>
          <div class="container-sm pv-28 row">
            <div class="col-sm-4 pl-0-sm">
              <strong class="uppercase block">Address</strong>
              <p>Jr. Manuel Arrisueño 607<br>Urb. Santa Catalina<br>La Victoria<br>Lima, Perú.</p>
              <strong class="uppercase block">Email</strong>
              <p>hello@lavictoria.pe</p>
              <strong class="uppercase block">Telephone</strong>
              <p>+(51)(1)605-8113</p>
            </div>
            <div class="col-sm-8">
              <img src="{site_url}assets/img/map.png" alt="" class="img-responsive">
            </div>            
          </div>
        </div>
        {embed="includes/pie-de-pagina"}
      </div>
{embed="includes/footer"}      